prometheus:
  prometheusSpec:
    storageSpec: 
      volumeClaimTemplate:
        spec:
          storageClassName: gp3
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 8Gi
    nodeSelector:
      nodegroup: system
    tolerations:
    - key: nodegroup
      value: system
      operator: Equal
      effect: NoSchedule
  service:
    type: LoadBalancer

alertmanager:
  alertmanagerSpec:
    nodeSelector:
      nodegroup: system
    tolerations:
      - key: nodegroup
        operator: Equal
        value: system
        effect: NoSchedule
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: gp3
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi

grafana:
  nodeSelector:
    nodegroup: system
  tolerations:
  - key: nodegroup
    value: system
    operator: Equal
    effect: NoSchedule
  service:
    type: LoadBalancer