apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  source:
    repoURL: https://github.com/Gagandeepsingh9/platform-gitops
    path: platform/cert-manager/
    helm:
      repoURL: oci://quay.io/jetstack/charts/cert-manager:v1.19.2
      chart: cert-manager
      valueFiles:
      - values-cert-manager.yml

  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true