apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  sources:
  - repoURL: 'https://charts.jetstack.io'
    chart: cert-manager
    targetRevision: v1.19.0
    helm:
      valueFiles:
      - $values/platform/cert-manager/values-cert-manager.yml
    
  - repoURL: 'https://github.com/Gagandeepsingh9/platform-gitops.git'
    targetRevision: main
    ref: values

  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true